<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-lightbluebean"
    version="0.1">
    <name>Cordova LightBlue Bean Plugin</name>
    <description>LightBlue Bean Java SDK port for HTML5</description>
    <license>Apache 2.0</license>
    <keywords>cordova,lightblue, bean, ble, punchthrough</keywords>
    <repo>https:\\github.com\duxan\cordova-plugin-lightbluebean.git</repo>
    <issue></issue>

    <js-module src="www/LightbluebeanPlugin.js" name="LightbluebeanPlugin">
        <clobbers target="LightbluebeanPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LightbluebeanPlugin" >
                <param name="android-package" value="co.duxan.lightbluebean.LightbluebeanPlugin"/>
                <param name="onload" value="false" />
            </feature>
        </config-file>

        <source-file src="src/co/duxan/lightbluebean/LightbluebeanPlugin.java" target-dir="src/co/duxan/lightbluebean" />
        <framework src="libs/dependencies.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>